body {
  background-color: #2C001E;
  font-family: "Courier", monospace;
  font-size:28px;
  color: limegreen;
  margin:40px auto;
  max-width:660px;
}

#my_name {font-size:56px;}

#youtube {height: 0.7em;}

#pic {
  float: left;
  width:32%;
  margin-right: 40px; /*to make some space b/w pic and text*/
  margin-top: 5px; /*to align top of pic w/ top of text*/
}

@media screen and (max-width: 640px) {
  body {
    margin:10px 10px;
  }
  #pic {
  float: none;
  width: 100%;
  margin-right: 0px;
  margin-top: 0px;
  }
}


a:link {
  color: limegreen;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: limegreen;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #2C001E;
  /*font-weight: bold;*/
  background-color: limegreen;
  text-decoration: none;
} 

h1 {
  margin-bottom: 10px;
}

p {
  margin-top:12px;
  margin-bottom:0px;
}